server:
  restart: always
  mem_limit: 4g
  build: .
  expose:
   - "8111"
  volumes:
    - .TeamCity:/root/.BuildServer
  links:
   - db
db:
  restart: always
  build: db
  volumes:
    - .postgres:/var/lib/postgresql/data
agent:
  restart: always
  build: agent
  privileged: true
  command: -u 'http://server:8111/'
  links:
   - server
  volumes:
   - /var/run/docker.sock:/var/run/docker.sock
nginx:
  restart: always
  image: quay.io/aptible/nginx
  environment:
    - UPSTREAM_SERVERS=server:8111
    - FORCE_SSL=true
  links:
    - server
  ports:
    - 443:443
    - 80:80
