server:
  mem_limit: 4g
  image: alexanderilyin/docker-teamcity-server
  expose:
   - "8111"
  volumes:
    - .TeamCity:/root/.BuildServer
  links:
   - db
db:
  build: db
  volumes:
    - .postgres:/var/lib/postgresql/data
agent:
  privileged: true
  image: alexanderilyin/docker-teamcity-agent
  command: -u 'http://server:8111/'
  links:
   - server
nginx:
  image: quay.io/aptible/nginx
  environment:
    - UPSTREAM_SERVERS=server:8111
    - FORCE_SSL=true
  links:
    - server
  ports:
    - 443:443
    - 80:80
